.benefits {
  width: 265px;
  margin: 60px auto 0;
  height: 430px;
  background-color: #131415;
  background-image: url(../../images/pattern/pattern.png);
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

.benefits__desc {
  font-family: 'open_sanslight';
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  line-height: 1.67;
  width: 222px;
  margin: 0 auto;
  padding: 30px 0;
}

.benefits__text {
  color: #f89513;
  margin-bottom: 0;
}