/*REVIEW*/

.breadcrumbs__item{
  display:inline-block;
  vertical-align:middle;
  font-size:14px;
  font-family:"open_sanslight_italic";
  margin-bottom:25px;
}
.breadcrumbs__item-link.breadcrumds__item__link--active{
  color: rgba(248, 149, 19, 0.8);
  text-decoration: underline;
}
  
.breadcrumbs__item-link, .breadcrumbs__item:after{
  color: rgba(34, 31, 31, 0.8);
}
.breadcrumbs__item:after{
content:"/";
display:inline-block;
}
.breadcrumbs__item:last-child:after{
display:none;
}
