/*NAV*/

.nav__list {
  width: 140px;
  position: relative;
  top: 39px;
}

.nav__item {
cursor: pointer;
display: flex;
vertical-align: middle;
margin-bottom: 25px;
}

.nav__item:last-child {
margin-bottom: 0;
}

.nav__link {
display: inline-flex;
justify-content: center;
color: #f89513;
font-weight: 700;
letter-spacing: 1.2px;
font-size: 12px;
}

.nav__link:before {
content: '';
margin-right: 15px;
display: inline-block;
width: 20px;
height: 18px;
}

.nav__link-main {
background: url(../../images/news/home_pulse.png) 0 0px no-repeat;
}

.nav__link-review {
background: url(../../images/news/home_star.png) 0 -1px no-repeat;
}

.nav__link-price {
background: url(../../images/news/home_gant.png) 0 0px no-repeat;
}

.nav__link-main:hover,
.nav__link--active-main {
background: url(../../images/news/home_pulse.png) 0 -19px no-repeat;
}

.nav__link-review:hover,
.nav__link--active-review {
background: url(../../images/news/home_star.png) 0 -21px no-repeat;
}

.nav__link-price:hover,
.nav__link--active-price {
background: url(../../images/news/home_gant.png) 0 -20px no-repeat;
}

.nav__link:hover,
.nav__link--active-main,
.nav__link--active-price,
.nav__link--active-review {
color: #221f1f;
}