/*NEWS*/
.newsbox {
  display: flex;
  margin-bottom: 19px;
  margin-top: 0;
  
}

.newsbox .col__left--news:first-child {
  padding-right: 28px;
}

.col__right--news {
  flex: 1;
  text-align: left;
 
}

.col__left--news {
  text-align: center;
  padding-right: 50px;
}

.title {
  color: #221f1f;
  font-family: 'open_sansbold';
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
}

.news__list {
  display: inline-block;
  margin-bottom: 57px;
}

.news__item {
  margin-bottom: 25px;
  padding: 9px 11px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__item-wrap {
  display: inline-block;
}

.news__image {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}

.news__content {
  width: 75%;
  margin-left: 15px;
  display: inline-block;
  font-size: 18px;
  font-family: 'open_sanslight';
  padding: 0 10px;
}

.news__content-date {
  color: #656464;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 10px;
}

.news__content-title {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #221f1f;
}

.news__content-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: #656464;
  line-height: 1.6;
  text-align: left;
  overflow: hidden;
}

.news__ava {
  display: inline-block;
}