/*PAGINATOR*/
.paginator {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #656464;
  text-align: center;
vertical-align:middle;

  padding-bottom:36px;
 
}
.paginator__container{
  display:flex;
  justify-content:space-between;
  width:360px;
  align-items:center;
margin-left:24%;
}
.paginator__block {
  display: inline-block;
  vertical-align: middle;
 
}

.paginator__btn--left {
  color: rgba(39, 39, 62, 0.3);

}

.paginator__item,
.paginator__btn,
.paginator__list {
  display: inline-block;
  vertical-align: middle;

}

.paginator__item:last-child,
.paginator__btn:last-child {
  margin-right: 0;
}

.paginator__link {
  font-size: 14px;
  font-weight: 900;
  color: #656464;
  background-color: transparent;
  border-radius: 3px;
  padding: 1px 5px;
}

.paginator__link:hover {
  color: #f89513;
  background-color: #27273e;
}

.paginator__item--active .paginator__link,
.paginator__item--active .paginator__link:hover{
  background-color: #27273e;
  color: #f89513;
}
.paginator--left{
  margin-bottom:0;
}

.paginator__container-new{
  margin-left:13%;
}