/*PROMO*/
.promo {
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  margin-left:15px;
}

.promo__image {

  text-align: right;
  width: 740px;
  height: 486px;
  background: url("../../images/intro/ranner.png") no-repeat;
  background-size: contain;
}