.news__container--left {
  padding: 10px 0;
}
.review{
  color: #221f1f;
  font-family: 'open_sansbold';
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  margin-bottom:27px;
}

.new__ava--left {
  vertical-align: top;
}

.new__content--left {
  width: 680px;
  margin-left: 15px;
  display: inline-block;
}



.new__item {
  padding: 9px 11px;
}

.new__item:last-child {
  margin-bottom: 0;
}

.new__item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.new__item:last-child {
  margin-bottom: 0;
}

.new__item-wrap {
  display: inline-block;
}

.new__image {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}

.new__content {
  width: 75%;
  margin-left: 15px;
  display: inline-block;
  font-size: 18px;
  font-family: 'open_sanslight';
  
}

.new__content-date {
  color: #656464;
  font-size: 14px;
  font-family: 'open_sanslight';
  font-weight: 300;
  margin-bottom: 10px;
  color:#656464;
}

.new__content-title {
  font-size: 18px;
  font-family: 'open_sansbold';
  font-weight: 700;
  color: #221f1f;
}

.new__content-text {
  font-family: 'open_sanslight';
  font-size: 18px;
  font-weight: 300;
  color: #656464;
  line-height: 1.6;
  text-align: left;
  overflow: hidden;
}

.new__ava {
  display: inline-block;
  vertical-align:top;
}

.col__right--rev {
  margin-bottom: 0;

}
.col__left--rev{
  margin-bottom: 0px;
}
.newbox {
  display: flex;
  margin-bottom: 20px;
  margin-top: 0;
 
}

.newbox-form {
  display: flex;
  margin-bottom: 30px;
  margin:27px auto;

}