
.socials {
  display: inline-block;
  text-align: center;
  padding:10px 0;
  width:100%;
  margin:0 auto;
}

.socials__title {
  font-family: 'open_sansbold';
  font-size: 14px;
  font-weight: 700;
  line-height: 3.86;
  overflow: hidden;
  color:#221f1f;
}

.socials__item {
  display: inline-block;
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 17px;
  height: 17px;
  border-radius:50%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}

.socials__link:hover {
  background-color: #d0d0d0;
  transition: 0.5s;
}


.socials__link--vk {
  background: url('../../images/sprites/sprite_all.png') 65px 42px;
}

.socials__link--fb {
  background: url('../../images/sprites/sprite_all.png') -69px 40px;
}

.socials__link--goo {
  background: url('../../images/sprites/sprite_all.png') 17px 41px;
}

.socials__link--tw {
 background: url('../../images/sprites/sprite_all.png') 33px 41px;
}

.socials__link--mail {
  background: url('../../images/sprites/sprite_all.png') 48px 41px;
}



